body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e6D6C8;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 60px;
    text-shadow: 2px 2px rgb(81, 81, 81);
}

h2 {
    margin: 0;
    font-size: 16px;
}

/* 導覽列樣式 */
.navbar-nav {
    display: flex;
    justify-content: space-evenly; /* 等距分佈 */
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.nav-item {
    flex: 3; /* 每個項目分配相等的空間 */
    text-align: center; /* 確保內容居中 */
}

.nav-link {
    display: block;
    color: rgb(144, 76, 76);
    text-align: center;
    width: 100px;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    background-color: #e6D6C8;
    color: #000000;
}

/* 下拉選單樣式 */
.container {
    width: 200px;
    margin: 0;
}

.dropdown-menu {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: rgb(144, 76, 76);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #e3c3c3;
    color: #000000;
}

/* 響應式調整 */
#main1{
    position: relative;
    top: 85px;
}
.mb-3 {
    font-size: 30px;
    line-height: 1.6;
    color: #555;
}

.a {
    position: relative;
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* 唯讀區域樣式 */
#main2{
    position: relative;
    top: 85px;
}

#container{
    width: 200px; /* 設定寬度 */
    padding: 20px; /* 內距 */
    background-color: #ffffff;
}

#container1{
    padding: 70px; /* 內距 */
    background-color: #e6D6C8;
}

#only{
    position: relative;
    top: 50px;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* 滾動視差 */
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#text{
    position: absolute;
    font-size: 80px;
    color: #e3ba96;
    text-shadow: 2px 4px 5px #ffffff;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}